@import '../../variabler.less';

.stillingsrad {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 1.2rem 1rem 1rem;

    &:nth-child(even) {
        background: #f7f7f7;
        border-top: 1px solid @navGra40;
        border-bottom: 1px solid @navGra40;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 0.5rem;
        max-width: 35rem;
    }

    &__lenke-til-stilling {
        &:visited {
            color: @navLilla;
        }
    }

    &__opprettet.typo-undertekst {
        margin-bottom: 0.75rem;
    }

    &__kandidatlisteknapp {
        padding-top: 0.5rem;
    }

    &__tittel {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0.75rem;
    }

    &__etikett {
        position: absolute;
        right: 1rem;
        top: 1rem;

        &--intern {
            background-color: @navLillaLighten80;
            border-color: @navLilla;
        }

        &--arbeidsplassen {
            background-color: @navLysBlaLighten80;
        }
    }

    &__stillingsinfo > span {
        &:not(:last-child)::after {
            content: '|';
            margin: 0 0.5rem;
        }
    }

    @media (min-width: @screen-sm-min) {
        flex-direction: row;
        align-items: center;
    }
}
