.stillingsrad {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.2rem 1rem 1rem;
    align-items: center;
    flex-direction: column;
}

.stillingsrad:nth-child(even) {
    background: white;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.lenkeTilStilling:visited:not(:focus):not(:active) {
    color: var(--navds-semantic-color-link-visited);
}

.kandidatlisteknapp {
    padding-top: 0.5rem;
    align-self: flex-start;
}

.tittel {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    max-width: 35rem;
}

.etiketterOgDato {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.etiketter {
    display: flex;
    margin-bottom: 1rem;
}

.etikett:not(:last-of-type) {
    margin-right: 0.5rem;
}

.etikettInkludering:global(.navds-tag) {
    background-color: var(--navds-global-color-green-100);
    border-color: var(--navds-global-color-green-500);
}

.etikettIntern:global(.navds-tag) {
    background-color: var(--navds-global-color-purple-100);
    border-color: var(--navds-global-color-purple-400);
}

.etikettArbeidsplassen:global(.navds-tag) {
    background-color: var(--navds-global-color-lightblue-100);
    border-color: var(--navds-global-color-lightblue-500);
}

.stillingsinfo > span:not(:last-child)::after {
    content: '|';
    margin: 0 0.5rem;
}

@media (min-width: 768px) {
    .stillingsrad {
        flex-direction: row;
    }

    .etiketterOgDato {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .etiketter {
        margin-bottom: 0;
    }

    .kandidatlisteknapp {
        position: absolute;
        right: 1rem;
        align-self: unset;
    }
}
