.lagre-standardsøk {
    margin-bottom: 1.75rem;
    height: 3rem;

    &__knapp {
        text-transform: none;
    }

    &.knapp svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.75rem;
    }

    &__alertstripe {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        .alertstripe__tekst {
            display: flex;
            align-items: center;
            flex: unset;
        }

        .hjelpetekst__innhold {
            max-width: 18rem;
        }
    }

    &__hjelpetekst {
        margin-left: 0.75rem;
    }
}
