.lagre-standardsøk {
    margin-bottom: 1.75rem;

    &__knapp {
        text-transform: none;
    }

    &.knapp svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.75rem;
    }

    &__har-lagret.navds-button {
        margin-bottom: 0.5rem;
    }

    &__hjelpetekst {
        margin-left: 0.75rem;
    }
}
