.lagre-standardsøk {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__lagre {
        &.navds-button {
            margin-bottom: 1.5rem;
        }
    }

    &__er-lagret {
        padding: 0.75rem !important;
        margin-bottom: 0.75rem;

        &.navds-alert {
            background-color: #cde7d8;
            border-radius: 0.25rem;
        }
    }
}
