@import './variabler.less';

.app {
    display: grid;
    row-gap: 2rem;

    margin: 3rem auto;
    padding: 0 1rem;
    max-width: 51rem;

    &__tilbakelenke {
        .nav-frontend-chevron {
            transform: translateY(-2px) rotate(270deg);
            margin-right: 0.5rem;
        }
    }

    &__sidepanel {
        flex-grow: 0;
        min-width: 18rem;
    }

    &__søkeresultat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__antall-og-sortering {
        display: flex;
        align-self: stretch;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 1rem;
    }

    &__antall-stillinger {
        padding-bottom: 0.5rem;
    }

    &__spinner {
        margin-top: 2rem;

        // Gjør siden kjempehøy under innlasting av stillinger
        // slik at nettleseren klarer å scrolle til dit du var.
        margin-bottom: 500rem;
    }

    @media (min-width: @screen-sm-min) {
        padding: 0 2rem;
    }

    @media (min-width: @screen-md-min) {
        display: grid;
        grid-template-columns: 19rem 1fr;
        column-gap: 3rem;
        max-width: 74.125rem;

        &__antall-og-sortering {
            // Denne er ganske presis for å aligne med toppen av søkefeltet
            padding-bottom: 1.125rem;
        }
    }

    @media (min-width: @screen-lg-min) {
        column-gap: 5rem;
    }
}
