@import '../variabler.less';

.søk {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__lenker-over-søk {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.75rem;
    }

    &__filtergruppe-header {
        background-color: white !important;
    }

    &__filtergruppe {
        margin-top: 1rem;

        /*
        .skjemagruppe {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }

            &__legend {
                margin-bottom: 0.5rem;
            }
        }
        */
    }

    &__checkbox {
        &.skjemaelement {
            margin-bottom: 0.5rem;
        }

        &.søk__checkbox--indentert.skjemaelement {
            margin-left: 2rem;
            margin-bottom: 0.5rem;
        }
    }
}
