@import '../variabler.less';

.søk {
    width: 100%;

    &__ekspanderbart-panel {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__checkbox {
        &.skjemaelement {
            margin-bottom: 0.5rem;
        }

        &.søk__checkbox--indentert.skjemaelement {
            margin-left: 2rem;
            margin-bottom: 0.5rem;
        }
    }
}
