.paginering {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
    padding-top: 2rem;

    &__side {
        margin: 0 0.25rem;
        border-radius: 0.25rem;

        &--aktiv {
            background-color: var(--navds-semantic-color-interaction-primary-selected);
        }
    }

    &__side-lenke {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        color: var(--navds-semantic-color-link);
        height: 2rem;
        width: 2rem;

        &--aktiv {
            color: white;
        }

        &--break {
            color: var(--navds-global-color-gray-600);
        }

        &:hover,
        &:active {
            cursor: pointer;
            box-shadow: inset 0 0 0 2px var(--navds-semantic-color-focus);
        }

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 2px var(--navds-semantic-color-focus);
        }
    }

    .nav-frontend-chevron {
        color: var(--navds-semantic-color-link);
    }
}
